@charset "utf-8";

/* skip */
#skip{ position:relative; }
#skip a{ width:140px; line-height:30px; position:absolute; top:-40px; left:0; background-color:#333; border:1px solid #fff; color:#fff; text-align:center; }
#skip a:active, #skip a:focus{ top:-65px; z-index:99999; }

/* layout */
#menu{ display:none; position:absolute; top:13px; right:14px; }
#header { width:100%; position:fixed; left:0; top:0; background-color:#fff; border-bottom: 1px solid #ccc; z-index:9999; } 
#footer{ background-color:#211f1f; }

/* container */
.row{ padding: 0 28px; }
.container{ width:1280px; margin:0 auto; position:relative; }
.container::after{ content:''; display:block; clear:both; }

/* header */
.header h1{ float:left; }
.header h1 em{ padding:10px 8px 5px 0; display:inline-block; }
.header h1 em img{ width:155px; }
.header h1 strong{ display:block; position:absolute; left:194px; top:2px; }
.header h1 strong img{ width:126px; }
.header .nav{ float:right; }
.header .nav ul{ border-left:1px solid #c6c6c6; }
.header .nav ul li{ width:103px; float:left; border-right:1px solid #c6c6c6; text-align:center; }
.header .nav ul li a{ padding:19px 10px; display:block; font-size:17px; font-weight:700; color:#444; }
.header .nav ul li a em{ color:#fff; }

/* footer */
.footer-sns{ position:absolute; top:33px; right:17px; z-index:1; }
.footer-sns li{ width:36px; height:36px; margin:0 2px; display:inline-block; cursor:pointer; }
.footer-sns li a{ display:block; }
.footer-sns li.s1{ background-position:0 -375px;}
.footer-sns li.s2{ background-position:-36px -375px;}
.footer-sns li.s3{ background-position:-72px -375px;}
.footer-sns li.s4{ background-position:-108px -375px;}
.footer-sns li.s5{ background-position:-144px -375px;}
.footer-sns li.s1:hover{ background-position:0 -411px;}
.footer-sns li.s2:hover{ background-position:-36px -411px;}
.footer-sns li.s3:hover{ background-position:-72px -411px;}
.footer-sns li.s4:hover{ background-position:-108px -411px;}
.footer-sns li.s5:hover{ background-position:-144px -411px;}
.footer-sns .tel{ padding-top:5px; text-align:right; }
.footer-sns .tel a{ font-size:21px; color:#8f8f8f; }

.footer-info{ width:80%; padding:50px 0; }
.footer-info h2 img{ width:150px; }
.footer-info ul{ padding:15px 0; }
.footer-info ul li{ padding-right:16px; display:inline; position:relative;  white-space:nowrap; }
.footer-info ul li::after{ content:''; width:1px; height:13px; position:absolute; top:7px; right:5px; background-color:#8f8f8f; }
.footer-info ul li:last-child::after{ width:0; height:0; }
.footer-info ul li a{ color:#8f8f8f; }
.footer-info address p{ padding-bottom:15px; color:#8f8f8f; }


/** Tablets **/
@media all and (max-width:1300px) and (orientation:portrait), (max-width:1600px) and (orientation:landscape) {
    .container{ width:100%; }
    .header h1 em { padding:7px 8px 3px 0; }
    .header h1 strong{ top:0; }
    .header .nav ul li { width:93px; }
    .header .nav ul li a { padding:17px 10px; font-size:15px; }
}

@media (max-width:1024px) and (orientation:portrait), (max-width:1336px) and (orientation:landscape){
    .nav{ display:none; }
    .row{ padding: 0 24px; }
    .header h1{ float:none; text-align:center; }
    .header h1 strong{ left:24px; }
    .nav{ display:none; }
    .row{ padding: 0 24px; }
    
    .footer-sns{ padding-bottom:15px; position:static; text-align:center; background-color:#352c2c; }
    .footer-sns .tel{ display:none; }

    .footer-info{ width:100%; text-align:center;  }
}

@media (max-width:768px) and (orientation:portrait), (max-width:1024px) and (orientation:landscape){
    body{ background-color:#d9d7e0; }
    .row{ padding:0 16px; }
    .header h1 strong{ display:none; }
    .header h1{ text-align:left; }
}

/** mobiles **/
@media (max-width:535px) and (orientation:portrait), (max-width:959px) and (orientation:landscape){
  
}

/** mobiles xs **/
@media (max-width:320px) and (orientation:portrait) {
    
}